# Node modules
node_modules/

# Environment variables
.env

# Build folders
dist/
build/

# AI models
.u2net/
*.onnx

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db